/* @import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css'); */
.register-div {
    margin-top: 70px;
    background-color: #000000;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
