<div class="acc-page-header container">
  <div class="page-header-inner">
    <span class="pull-left">Date: 7/11/2017</span>
    <span class="pull-right">Current Balance : 50000</span>
  </div>
</div>
<div class="acc-main-content">
  <form class="form-horizontal">
<fieldset>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="ACC">Account Head</label>
  <div class="col-md-5">
    <select id="ACC" name="ACC" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="amountpaid">Amount Paid</label>
  <div class="col-md-5">
  <input id="amountpaid" name="amountpaid" type="text" placeholder="Dont care" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="towards">Towards</label>
  <div class="col-md-5">
  <input id="towards" name="towards" type="text" placeholder="Towards" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="amount">Amount</label>
  <div class="col-md-5">
  <input id="amount" name="amount" type="text" placeholder="Amount" class="form-control input-md" required="">

  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="tobasic">To :</label>
  <div class="col-md-5">
    <select id="tobasic" name="tobasic" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

</fieldset>
</form>


</div>
