<nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Petty Cash</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLoggedIn" [routerLink]="['petty-cash','ledger-transactions']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
       <li class="nav-item" *ngIf="isLoggedIn">
        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
          <a class="nav-link" id="dropdownManual" ngbDropdownToggle >Admin</a>
          <div class="dropdown-menu" aria-labelledby="dropdownManual">
            <a class="dropdown-item" [routerLink]="['ledger']" routerLinkActive="active">Ledger </a>
             <a class="dropdown-item" [routerLink]="['ledger','category']" routerLinkActive="active">Ledger Category</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!isLoggedIn">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register" routerLinkActive="active" *ngIf="!isLoggedIn">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLoggedIn">{{userName}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="LogOut()" *ngIf="isLoggedIn">Logout</a>
      </li>
    </ul>
    </div>
</nav>
