/*.nav-box{
box-shadow:  0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
min-height: 70px;
}
.nav .navbar-nav > li{
 background-color:  #2BBBAD;
 color: white;
}
.navbar{
  margin-bottom: 0px !important;
}
d
.acc-links a{
  height: 70px;
}

.acc-links a.active{
  background-color: #2BBBAD;
  color: white;
}
*/
.navbar-custom{
  color: whitesmoke;
  background-color: white;
  box-shadow:  0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  min-height: 70px;
  padding-top: 10px;
}
.navbar-brand{
  font-size: 24px !important;
  color: #424242;
  font-family: open sans semibold;
}

.active
{
  border-bottom: 2px solid #2BBBAD !important;
}
